ion-navbar('*navbar'="")
    ion-title {{__('现金流管理')}}
ion-content(padding="", class="")
    table
        thead
            tr
                th {{__('日期')}}
                th {{__('结余')}}
                th {{__('收入')}}
                th {{__('支出')}}
        tbody
            tr('*ngFor'="let flow of flows")
                td {{flow.date}}
                td {{flow.balance}}
                td {{flow.income}}
                td {{flow.payout}}