ion-navbar('*navbar'="")
    ion-title 设置

ion-content(padding="", class="")
    ion-item
        ion-label(stacked="")
            | 纯数字输入模式（不能输入%）
        ion-toggle('[(ngModel)]'="model.numberMode", '(ionChange)'="saveSettings()")
    ion-item
        ion-label(stacked="")
            | 简单模式 (年月日利率不使用复利模式)
        ion-toggle('[(ngModel)]'="model.simplifiedMode", '(ionChange)'="saveSettings()")