ion-navbar('*navbar'="")
    ion-title
        button(clear="", '(click)'="updateValues()")
            ion-icon(name="refresh")
        span('[hidden]'="true") 到期一次性还款借贷
ion-content
    include ../shared/total-annual-monthly-daily
    + loanInfo
    + interestInfo