ion-navbar('*navbar'="")
    ion-title
        span('[hidden]'="true") 按月等额本息
        button(clear="", '(click)'="updateValues()")
            ion-icon(name="refresh")
ion-content
    include ../shared/total-annual-monthly-daily
    + loanInfo
    ion-item
        ion-label {{__('月还款额: ')}}
        ion-input(type="number", '(change)'="updateValues()", '(focus)'="changeSource('monthlyPayment')", '[(ngModel)]'="model.monthlyPayment", clearInput="", placeholder="{{__('月还款额 xxx 元')}}")
    + interestInfo