ion-header
    ion-navbar
        ion-title {{__('设置')}}

ion-content
    ion-item
        p {{__('啪咔，协助你比较不同的利率，划不划算，一目了然！')}}
    ion-item
        ion-label(stacked="")
            | {{__('纯数字输入模式（不能输入%）')}}
        ion-toggle('[(ngModel)]'="model.numberMode", '(ionChange)'="saveSettings()")
    ion-item
        ion-label(stacked="")
            | {{__('简单模式 (年月日利率不使用复利模式)')}}
        ion-toggle('[(ngModel)]'="model.simplifiedMode", '(ionChange)'="saveSettings()")
    ion-item
        ion-label {{__('语言')}}
        ion-select('[(ngModel)]'="model.locale", '(ionChange)'="localeChanged()")
            ion-option(value="zh-CN") 简体中文
            ion-option(value="en-US") English (US)

    ion-list
        ion-list-header(class="contact-page-content")
            | {{__('APP 下载')}}
        ion-item
            ion-icon(name="logo-apple", item-left="", class="contact-page-content")
            | {{__('App Store：')}}

            a(href="https://itunes.apple.com/cn/app/pa-ka-paca-li-cai-ji-suan-qi/id1131483169?l=zh&ls=1&mt=8", target="_blank")
                | https://itunes.apple.com/cn/app/pa-ka-paca-li-cai-ji-suan-qi/id1131483169?l=zh&ls=1&mt=8
        ion-item
            ion-icon(name="logo-android", item-left="", class="contact-page-content")
            | {{__('Google Play：')}}

            a(href="https://play.google.com/store/apps/details?id=com.ionicframework.paca478197", target="_blank")
                | https://play.google.com/store/apps/details?id=com.ionicframework.paca478197
        ion-item
            ion-icon(name="", item-left="", class="contact-page-content") {{__('百度手机助手')}}
            a(href="http://shouji.baidu.com/software/9797656.html" target="_blank") http://shouji.baidu.com/software/9797656.html
        ion-item
            ion-icon(name="", item-left="", class="contact-page-content") {{__('360 手机助手')}}
            p
                a(href="http://shouji.baidu.com/software/9797656.html" target="_blank") http://shouji.baidu.com/software/9797656.html
            p
                a(href="http://openbox.mobilem.360.cn/index/d/sid/3327984" target="_blank") http://openbox.mobilem.360.cn/index/d/sid/3327984