ion-tabs(tabbarPlacement="bottom")
    ion-tab('[root]'="tab1Root", tabTitle="利率转换", tabIcon="sync")
    ion-tab('[root]'="tabRateComputingRoot", tabTitle="一次性还款借贷", tabIcon="cash")
    ion-tab('[root]'="tabFixedMortgage", tabTitle="等额本息", tabIcon="information-circle")
    ion-tab('[root]'="tabSettings", tabTitle="设置", tabIcon="cog")